.home-container {
  padding: 2% 4%;
  font-family: 'Segoe UI', sans-serif;
  background: #f8f9fa;
  height: auto;
}

.home-header {
  display: flex;
  text-align: center;
  margin: 2% 4%;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.logout-btn {
  width: 8%;
  height: 46px;
  background-color: #519ef0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #35689f;
}
