services:
  postgres:
    image: postgres:15
    container_name: travel-postgres
    environment:
      POSTGRES_USER: travelscheduleuser
      POSTGRES_PASSWORD: travelschedulepassword
      POSTGRES_DB: travelscheduledb
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: travel-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  pg_data: